pipeline/PL_first_master.json
{
	"name": "PL_first_master",
	"properties": {
		"activities": [
			{
				"name": "ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "loggingpipelinestart",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set datafrom unix",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set dateto unix",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tag": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"plp_todate": {
							"value": "@variables('Todate')",
							"type": "Expression"
						},
						"plp_fromdate": {
							"value": "@variables('FromDate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "transformation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_transformation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tag": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"plp_union_folder": {
							"value": "@pipeline().parameters.mplp_union_folder",
							"type": "Expression"
						},
						"plp_fact_folder": {
							"value": "@pipeline().parameters.mplp_fact_folder",
							"type": "Expression"
						},
						"plp_dim_folder": {
							"value": "@pipeline().parameters.mplp_dim_folder",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tags": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"sql_schema": {
							"value": "@pipeline().parameters.mplp_sql_schema",
							"type": "Expression"
						},
						"sql_table_fact": {
							"value": "@pipeline().parameters.mplp_sql_fact_table",
							"type": "Expression"
						},
						"sql_table_dim": {
							"value": "@pipeline().parameters.mplp_sql_dim_table",
							"type": "Expression"
						},
						"plp_fact_folder": {
							"value": "@pipeline().parameters.mplp_fact_folder",
							"type": "Expression"
						},
						"plp_dim_folder": {
							"value": "@pipeline().parameters.mplp_dim_folder",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "loggingpipelinestart",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Insert into logging.pipelinerun (PipelineRunID, PipelineName, PipelineStartTime, PipelineEndTime, PipelineStatus)\nValues(\n    '@{pipeline().RunId}',\n    '@{pipeline().Pipeline}',\n    GETUTCDATE(),\n    Null,\n    'Starting'\n)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "loggingpipelineend",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Update logging.pipelinerun\nSET\n    PipelineEndTime = GETUTCDATE(),\n    PipelineStatus = '@{activity('load').status}'\nwhere PipelineRunID = '@{pipeline().RunID}'\nand PipelineStatus = 'Starting'\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select PipelineStartTime\nfrom logging.vpipelinerun\nwhere PipelineName = '@{pipeline().Pipeline}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"sql_schema": {
								"value": "@pipeline().parameters.mplp_sql_logging_schema",
								"type": "Expression"
							},
							"sql_table": {
								"value": "@pipeline().parameters.mplp_sql_logging_view",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "set datafrom unix",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FromDate",
					"value": "@{div(sub(ticks(activity('Lookup1').output.firstrow.PipelineStartTime), ticks('1970-01-01')),10000000)}"
				}
			},
			{
				"name": "set dateto unix",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Todate",
					"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)}"
				}
			}
		],
		"parameters": {
			"mplp_tag": {
				"type": "array",
				"defaultValue": [
					"python",
					"databricks"
				]
			},
			"mplp_union_folder": {
				"type": "string",
				"defaultValue": "union"
			},
			"mplp_fact_folder": {
				"type": "string",
				"defaultValue": "fact"
			},
			"mplp_dim_folder": {
				"type": "string",
				"defaultValue": "dim"
			},
			"mplp_sql_schema": {
				"type": "string",
				"defaultValue": "sto"
			},
			"mplp_sql_fact_table": {
				"type": "string",
				"defaultValue": "factQuestions"
			},
			"mplp_sql_dim_table": {
				"type": "string",
				"defaultValue": "dimOwners"
			},
			"mplp_sql_logging_schema": {
				"type": "string",
				"defaultValue": "logging"
			},
			"mplp_sql_logging_view": {
				"type": "string",
				"defaultValue": "vpipelinerun"
			}
		},
		"variables": {
			"Todate": {
				"type": "String"
			},
			"FromDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-02T00:45:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}